#menu {
    position: fixed;
    left: 0;
    top: 50%;
    width: 200px;
    margin-top: -100px;
    background: rgba(196, 178, 178,0.3);
    font-size: 17px;
    line-height: 1.5;
  }

.main
  {
    margin: auto;
    text-align: justify;
    width: 900px;
    border: solid;
    border-color: aqua;
    font-size: 17px;
    line-height: 1.5;
  }

 .block
  {
    width: 860px;
    margin-left: auto;
    margin-right: auto;
  }
  
  img
  {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }
  h1
  {
    text-align: center;
  }
  h2
  {
    background-color: aqua ;
    background-size: 100%;
    padding-left: 40px;
  }
  h3
  {
    background-color: aqua ;
    background-size: 100%;
    padding-left: 40px;
  }

  table.osi{
	width: 100%;
	border-collapse:collapse;
	border-spacing:0;
	height: auto;
}
table.osi,table.osi td, table.osi th {
	border: 3px solid #595959;
}
table.osi td,table.osi th {
	padding: 3px;
	width: 30px;
	height: 35px;
}
table.osi th {
	background: ; 
	color: #fff; 
	font-weight: normal;
}

.center
{
    text-align: center;
}

dt
{
    font-weight: bold;
    border-left: 3px solid orange;
    padding-left: 10px;
}
dd
{
    padding-bottom: 5px;
    padding-left: 10px;
}